h1 {
    color: rgb(39, 114, 114);
    text-align: center;
}
h2{
    color: aquamarine;
    font-family: 'Chivo Mono', monospace;
}
h3 {
    color: brown;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.Hobbies{
    color: coral;

}
.Redondear {
    border-radius: 10%;
    
}